.container {
  padding: 20px;
}

.container .titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container .contenedor-datos {
  margin: 30px 0px;
}
